@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Oddval";
  src: url("../public/fonts/Oddval-SemiBold.ttf");
}

@font-face {
  font-family: "SourceSans";
  src: url("../public/fonts/SourceSansPro-ExtraLight.otf");
  font-weight: 100;
}
@font-face {
  font-family: "SourceSans";
  src: url("../public/fonts/SourceSansPro-Light.otf");
  font-weight: 200;
}
@font-face {
  font-family: "SourceSans";
  src: url("../public/fonts/SourceSansPro-Semibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "SourceSans";
  src: url("../public/fonts/SourceSansPro-Bold.otf");
  font-weight: 800;
}

.custom-line-through {
  position: relative; /* Add this to position the pseudo-element */
}

.custom-line-through::after {
  content: ""; /* Create a pseudo-element */
  position: absolute;
  left: -6%;
  right: 0; /* Extend the line across the full width */
  top: 50%; /* Center it vertically */
  height: 3px; /* Thickness of the line */
  width: 62.5px;
  background-color: #a1a1aa; /* Change the color as needed */
  border-radius: 50px;
}
