@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Oddval";
  src: url("../public/fonts/Oddval-SemiBold.ttf");
}

@font-face {
  font-family: "SourceSans";
  src: url("../public/fonts/SourceSansPro-ExtraLight.otf");
  font-weight: 100;
}
@font-face {
  font-family: "SourceSans";
  src: url("../public/fonts/SourceSansPro-Light.otf");
  font-weight: 200;
}
@font-face {
  font-family: "SourceSans";
  src: url("../public/fonts/SourceSansPro-Semibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "SourceSans";
  src: url("../public/fonts/SourceSansPro-Bold.otf");
  font-weight: 800;
}
